@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@400;500;600;700;800&display=swap");

html,
body {
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  font-family: "Spartan", sans-serif;
}

button {
  transition: background-color 0.3s ease-in-out, border 0.3s ease-in-out;
}

#level-1 {
  background: url("/background.svg");
  background-size: cover;
  background-position: center;
}

.oops {
  background: url("/glitch.gif");
  background-size: cover;
  background-position: center;
}

#parent {
  position: relative;
}
#child {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.tagline {
  background: linear-gradient(
    90.23deg,
    #1a6efc 13.13%,
    rgba(26, 110, 252, 0.388062) 133.92%,
    rgba(26, 110, 252, 0.29) 153.28%
  );
  background-size: 100%;
  background-repeat: repeat;

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}

.glow {
  box-shadow: 4px 4px 37px rgba(26, 110, 252, 0.25);
}

.popup {
  background: rgba(0, 0, 0, 0.21);
}

::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background: #fff;
}
::-webkit-scrollbar-thumb {
  background: rgba(148, 148, 148, 0.44);
}

.article link {
  font-weight: bold;
  color: #347efd;
}
